name: Gmeek
on:
  issues:
    types: [opened, edited]
  workflow_dispatch:
permissions:
  contents: write
jobs:
  build:
    runs-on: ubuntu-latest
    if: github.event.repository.owner.id == github.event.sender.id
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'
      - name: Install dependencies
        run: pip install --upgrade Gmeek
      - name: Generate blog
        run: gmeek-build ${{ secrets.GITHUB_TOKEN }} ${{ github.repository }}
