name: Gmeek
on:
  issues:
    types: [opened, edited]
  workflow_dispatch:
permissions:
  contents: write
jobs:
  build:
    runs-on: ubuntu-latest
    if: github.event.repository.owner.id == github.event.sender.id
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'
      - name: Install gmeek from Source
        # 这一步直接从作者的 GitHub 仓库安装，跳过 PyPI 索引，最稳
        run: pip install git+https://github.com/Meekdai/Gmeek.git
      - name: Generate blog
        run: gmeek-build ${{ secrets.GITHUB_TOKEN }} ${{ github.repository }}
