name: Gmeek
on:
  issues:
    types: [opened, edited]
  workflow_dispatch:
permissions:
  contents: write
jobs:
  build:
    runs-on: ubuntu-latest
    if: github.event.repository.owner.id == github.event.sender.id
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10' # 强制使用兼容性最好的 Python 3.10
      - name: Install gmeek
        run: pip install gmeek # 注意这里是小写
      - name: Generate blog
        run: gmeek-build ${{ secrets.GITHUB_TOKEN }} ${{ github.repository }}
